/* Write your CSS here */
.language-btn{
    background-color: transparent;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 600;
    color: #0f172a;
    border: none;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-shrink: 0;
    cursor: pointer;
    outline: none;
}
.active-language-btn {
    color: blue;
    border-radius: 25px;
    border: 1px solid blue;
}